<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.find.mapper.FindMapper">
	 
	<!-- 닉네임 가져오기 -->
	<select id="selectNickname" resultType="string">
		select nickname from introduce where ino=2
	</select>
	
	<!-- 소개제목 가져오기 -->
	<select id="selectTitle" resultType="string">
		select title from introduce where ino=2
	</select>

	<!-- 주소 가져오기 -->
	<select id="selectAddr" resultType="string">
		select addr from introduce where ino=2
	</select>
	
	<!-- 짧은 소개글 가져오기 -->
	<select id="selectShortContent" resultType="string">
		select short_content from introduce where ino=2
	</select>
	
	<!-- 소개글 가져오기 -->
	<select id="selectContent" resultType="string">
		select content from introduce where ino=2
	</select>
	
	<!-- 라이센스 가져오기 -->
	<select id="selectLicense" resultType="string">
		select license from introduce where ino=2
	</select>
	
	<!-- 데이케이 소형견 -->
	<select id="selectSPetDayPrice" resultType="_int">
		select sPetDay from price where ino=2
	</select>
	
	<!-- 1박케어 소형견 -->
	<select id="selectSPetAllPrice" resultType="_int">
		select sPetAll from price where ino=2
	</select>
	
	<!-- 데이케어 중형견 -->
	<select id="selectMPetDayPrice" resultType="_int">
		select mPetDay from price where ino=2
	</select>
	
	<!-- 1박케어 중형견 -->
	<select id="selectMPetAllPrice" resultType="_int">
		select mPetAll from price where ino=2
	</select>
	
	<!-- 데이케어 대형견 -->
	<select id="selectLPetDayPrice" resultType="_int">
		select lPetDay from price where ino=2
	</select>
	
	<!-- 1박케어 대형견 -->
	<select id="selectLPetAllPrice" resultType="_int">
		select lPetAll from price where ino=2
	</select>
	
	<select id="getSumStar" resultType="_int">
		select sum(star) from reple
	</select>
	
	<select id="getCntStar" resultType="_int">
		select count(star) from reple
	</select>
	
	<!-- wish에 들어있는지 확인 -->
	<select id="getWish" resultType="_int">
		select ino from wish where ino=2
	</select>
	
	<!-- 찜하기 목록에 추가 -->
	<insert id="insertHeart" parameterType="wish">
		insert into wish values(#{unickname},#{ino},#{snickname},#{saddr},#{title})
	</insert>
	<!-- 찜하기 목록에 삭제 -->
	<delete id="deleteHeart" parameterType="_int">
		delete from wish where ino=#{value}
	</delete>
	
	
</mapper>
